#main-header {
    text-align: center;
    background-color: rgb(175, 165, 209);
    padding: 10px;
}

#main-footer {
    text-align: center;
    font-size: 18px;
}

h1 {
    color: aquamarine;
}

h2 {
    color: chartreuse;
    background-color: grey;
}